<h1><%= t('.test_completed', test: @tests_passages.test.title) %> </h1>
<%= t('test_status.result.time_failed') if @tests_passages.time_out? %>

<% if @tests_passages.success? %>
  <h2><%= t('.passed') %></h2>
  <p>
    <font color="green"><%= t('.result', result: @tests_passages.success_value) %></font>
  </p>
<% else %>
  <h2><%= t('.failed') %></h2>
  <p>
    <font color="red"><%= t('.result', result: @tests_passages.success_value) %></font>
  </p>
<% end %>

<%= link_to t('.back'), tests_path %>
