<h1><%= t('.question') %></h1>

<table>
  <tr>
    <th><%= t('.question') %></th>
  </tr>
  <tr>
    <td><%= @question.body %></td>
  </tr>
</table>

<h2>Answers</h2>

<%= link_to 'New answer', new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<p>
  <%= link_to t('.edit'), edit_admin_question_path %>
  <%= link_to t('.back'), admin_test_path(@question.test) %>
</p>
