<!DOCTYPE html>
<html>
<head>
  <title><%= t('.admin_panel') %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<p><b><%= link_to t('.project'), root_path %></b></p>
<%= render 'admin/nav' %>
<%= flash_messages %>
<%= yield %>
<%= render 'shared/footer' %>
</body>
</html>
