<!DOCTYPE html>
<html>
<head>
  <title>TestGuru</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<p><b><%= link_to "Test Guru", root_path %></b></p>
<% if logged_in? %>
  <p class="nav user">Welcome, <b><%= current_user.name %> [<%= link_to 'Log Out', logout_path, method: :delete %>]</b></p>
<% else  %>
  <p class="nav menu">[<%= link_to 'Log In', login_path %>][<%= link_to 'Sign Up', signup_path %>]</p>
<% end %>
<%= yield %>
<%= render 'shared/footer' %>
</body>
</html>
